.made-on-billboardblizz-container-inner {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
}


.made-on-billboardblizz-container-inner .made-design {
    position: relative;
    cursor: pointer;
    border-radius: .3rem;
    overflow: hidden;
    height: 200px;
}

.made-on-billboardblizz-container-inner img {
    width: 100%;
    height: 100%;
}

.made-on-billboardblizz-container-inner .made-on-design-details-container {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
}

.made-on-billboardblizz-container-inner .made-on-design-details-container:hover {
    opacity: 1;
}



@media only screen and (max-width:770px) {
    .made-on-billboardblizz-container-inner {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}

@media only screen and (max-width:580px) {
    .made-on-billboardblizz-container-inner {
        grid-template-columns: 1fr;
        place-items: center;
    }

    .made-on-billboardblizz-container-inner .made-design {
        width: 80%;
    }
}