.user-navbar>div {
    flex: 1;
}

.user-navbar {
    max-height: 50px;
    z-index: 2;
    padding: .5rem 2rem;
    transition: all .7s;
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    font-weight: 600;
}

.user-navbar-regular {
    background-color: #fff;
    box-shadow: 3px 10px 20px rgb(0, 0, 0, 0.2);
    color: #000;

    a {
        color: #000;
    }

    .register-btn {
        background-color: #0d6efd;
        color: #fff;
        font-weight: 600;
    }
    .navbar-branding-container a{
        color: #0d6efd;
    }
}



.user-navbar-transparent {
    background-color: transparent;
    color: #fff;

    a {
        color: #fff;
    }

    .register-btn {
        background-color: #fff;
        color: #000;
        font-weight: 600;
    }
}

.user-navbar .navbar-branding-container .fa-bars-staggered {
    visibility: hidden;
}

.user-navbar .navbar-links-container .navbar-link-active {
    color: #3988fe !important;
}

.user-navbar .navbar-links-container ul li a:hover {
    color: #3988fe !important;
}

.navbar-account-container>i {
    cursor: pointer;
}


.user-navbar .navbar-account-container>div>div {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    font-weight: 600;

}



.navbar-account-container .user-profile-container-inner {
    position: absolute;
    background-color: #fff;
    transform: translateY(5rem);
    border-radius: 3px;
    padding: .5rem;
    box-shadow: 3px 10px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    gap: .5rem;
    min-width: 180px;
    width: 15vw;
    visibility: hidden;
    opacity: 0;
    transition: all .7s;
    z-index: 100;

}

.navbar-account-container .user-profile-container-inner .user-logout-btn {

    transition: background .7s;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    gap: .7rem;
    height: 40px;


}

.user-navbar .navbar-account-container .user-profile-container-simple,
.user-navbar .navbar-account-container .user-logout-btn-outer {
    display: none;
}


.navbar-account-container .cart-container-inner {
    min-height: 100vh !important;
    height: 100vh !important;
    background-color: #fff;
    padding: 1rem;
    top: 0;
    right: 0;
    width: 25%;
    box-shadow: 3px 10px 20px rgba(0, 0, 0, 0.2);
    color: #1f1f1f;
    cursor: default;
    padding: 1rem !important;
    width: 25%;
    min-width: 400px;
    display: flex !important;
    flex-direction: column;
}

.cart-container-inner .cart-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 3px solid black;
    padding-bottom: .5rem;
    flex: 1;
}

.cart-container-inner .cart-body {
    flex: 12;
    overflow: auto;
}

.cart-container-inner .cart-body::-webkit-scrollbar {
    width: 7px;
}

.cart-container-inner .cart-body::-webkit-scrollbar-thumb {
    background-color: rgb(200, 200, 200);
    border-radius: 1rem;
}

.cart-container-inner .cart-footer {
    flex: 1;
}

.cart-body .cart-billboards-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.cart-body .cart-billboards-container .billboard {
    display: flex;
    background-color: rgb(250, 250, 250);
    max-height: 120px;
    height: fit-content;
}



.cart-body .cart-billboards-container .left-content {
    flex: 2;
}

.cart-body .cart-billboards-container .left-content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.cart-body .cart-billboards-container .right-content {
    flex: 3;
    display: flex;
    flex-direction: column;
    padding: .5rem;
    position: relative;
    gap: 1rem;
}



.cart-billboards-container .right-content .billboard-name {
    font-size: 22px;
}

.cart-billboards-container .right-content .billboard-material {
    color: gray;
}

.cart-billboards-container .right-content .billboard-price {
    position: absolute;
    color: #198754;
    padding: .3rem;
    background-color: #D1E7DD;
    border-radius: 2px;
    right: .5rem;
}

.cart-billboards-container .right-content .quantity-container i {
    cursor: pointer;
}


.cart-billboards-container .right-content .quantity-container input {
    width: 30px;
    height: 30px;
    text-align: center;
    border: none;
    background-color: rgb(240, 240, 240);
    border-radius: 5px;
}

@media only screen and (max-width: 700px) {
    .user-navbar {
        display: block !important;
        border-bottom: .1rem solid #fff;
        max-height: 50px;
        overflow: hidden;
        backdrop-filter: blur(30px) !important;
        transition: max-height .7s ease-in-out 0s;

    }

    .user-navbar .navbar-branding-container .fa-bars-staggered {
        visibility: visible;
        cursor: pointer;
    }

    .user-navbar>div {
        justify-content: start !important;
        margin-top: 1rem;
    }

    .user-navbar .navbar-branding-container {
        margin-top: 0;
    }


    .user-navbar .navbar-links-container>ul {
        width: 100%;
        justify-content: space-between;
    }

    .user-navbar .navbar-links-container>ul li {
        padding: .5rem;
        border: .1rem solid white;
        border-radius: .2rem;
        cursor: pointer;
        text-align: center;
    }

    .user-navbar .navbar-links-container>ul li a {
        justify-content: center;
    }

    .user-navbar .navbar-links-container>ul li:hover {
        background-color: white;
    }

    .navbar-account-container>div {
        margin: 1rem 0;
    }

    .navbar-account-container>a,
    .navbar-account-container>.register-btn {
        flex: 1;
    }

    .navbar-account-container>a {
        text-align: center;
        border: .1rem solid white;
        padding: .2rem 1rem;
        border-radius: 2px;
    }

    .navbar-account-container>a:hover {
        background-color: white;
        color: black;
    }


    .user-navbar .navbar-account-container>div {
        width: 100%;
    }

    .user-navbar .navbar-account-container>div>div span {
        display: inline;
    }

    .user-navbar .navbar-account-container>div>div {
        border: .1rem solid #fff;
        border-radius: 2px;
        padding: .5rem;
        flex: 1;
    }

    .user-navbar .navbar-account-container>div>.user-logout-btn-outer {
        justify-content: center;
        align-items: center;
        flex: 1;
        font-weight: 600;
        gap: .7rem;
    }

    .user-navbar .navbar-account-container .user-profile-container-simple,
    .user-navbar .navbar-account-container .user-logout-btn-outer {
        display: flex;
    }

    .user-navbar .navbar-account-container .user-profile-container-outer {
        display: none;
    }

}

@media only screen and (max-width:450px) {
    .user-navbar .navbar-links-container ul {
        display: grid !important;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));

    }
}